body
{
background-color: #E14040;
width: 1000px;	
height: 10000px;
}
#h1
{
	color: #D8C07C;
    font-family: arial;
    position: absolute;
    left: 400px;
    top: 180px; 
}
#h1_1
{
	color: #D8C07C;
    font-family: arial;
    position: absolute;
    left: 400px;
    top: 3750px; 
}
h2
{
	color: #D8C07C;
    font-family: arial;
    position: absolute;
    left: 480px;
    top: 240px;	
}
h3
{
	color: black;
}
audio
{
	position: absolute;
	left: 400px;
	top: 600px;
}
#ringtone
{
	position: absolute;
	left: 400px;
	top: 700px;
}
#paraone
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 540px;
	height: 200px;
	background-color: #D8C07C;
	position: absolute;
	left: 270px;
	top: 300px;
	border-radius: 10px;
}
#firstvideo
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 160px;
	height: 20px;
	background-color: #D8C07C;
	position: absolute;
	left: 470px;
	top: 440px;
	border-radius: 10px;
}
#secondvideo
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 160px;
	height: 20px;
	background-color: #D8C07C;
	position: absolute;
	left: 470px;
	top: 970px;
	border-radius: 10px;	
}
#thirdvideo
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 160px;
	height: 20px;
	background-color: #D8C07C;
	position: absolute;
	left: 470px;
	top: 1230px;
	border-radius: 10px;	
}

#paratwo
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 540px;
	height: 70px;
	background-color: #D8C07C;
	position: absolute;
	left: 270px;
	top: 470px;
	border-radius: 10px;
}
#parathree
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 540px;
	height: 180px;
	background-color: #D8C07C;
	position: absolute;
	left: 270px;
	top: 750px;
	border-radius: 10px;
}
#parafour
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 540px;
	height: 80px;
	background-color: #D8C07C;
	position: absolute;
	left: 270px;
	top: 2610px;
	border-radius: 10px;
}
#parafive
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 540px;
	height: 180px;
	background-color: #D8C07C;
	position: absolute;
	left: 270px;
	top: 1000px;
	border-radius: 10px;	
}
#parasix
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 540px;
	height: 100px;
	background-color: #D8C07C;
	position: absolute;
	left: 270px;
	top: 3800px;
	border-radius: 10px;
}
#paraseven
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 540px;
	height: 100px;
	background-color: #D8C07C;
	position: absolute;
	left: 270px;
	top: 5170px;
	border-radius: 10px;
}
#paraeight
{
	color: #E14040;
	text-shadow: 1px 1px darkred;
	font-family: arial;
	float: left;
	width: 540px;
	height: 100px;
	background-color: #D8C07C;
	position: absolute;
	left: 270px;
	top: 6120px;
	border-radius: 10px;
}
#sidebar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #0085B6;
    position: fixed;
    border-bottom: 5px solid black;
    box-shadow: 0px 4px 8px 0px grey;
}
#sidebar a
{
	display: block;
	color: #E0E0E0;
	padding: 6px 10px;
	text-decoration: none;
	border: 1px solid black;
}
li a:hover
{
	background-color: lime;
	color: blue;
}

.footer
{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: white;
    border: 1px grey;
    text-align: center;
}
#img1
{
	width: 350px;
	height: 300px;
	position: absolute;
	left: 370px;
	top: 530px;
	border-radius: 20px;
}
#img2
{
	width: 350px;
	height: 300px;
	position: absolute;
	left: 370px;
	top: 845px;
	border-radius: 20px;
}
#img3
{
	width: 350px;
	height: 300px;
	position: absolute;
	left: 370px;
	top: 1380px;
	border-radius: 20px;
}
#img4
{
	width: 350px;
	height: 300px;
	position: absolute;
	left: 370px;
	top: 1700px;
	border-radius: 20px;
}
#img5
{
	width: 250px;
	height: 400px;
	position: absolute;
	left: 420px;
	top: 2210px;
	border-radius: 20px;
}
#img6
{
	width: 250px;
	height: 400px;
	position: absolute;
	left: 280px;
	top: 2720px;
	border-radius: 20px;	
}
#img7
{
	width: 250px;
	height: 400px;
	position: absolute;
	left: 550px;
	top: 2720px;
	border-radius: 20px;	
}
#img8
{
	width: 250px;
	height: 400px;
	position: absolute;
	left: 420px;
	top: 3330px;
	border-radius: 20px;	
}
#img9
{
	width: 400px;
	height: 400px;
	position: absolute;
	left: 350px;
	top: 3930px;
	border-radius: 20px;
}
#img10
{
	width: 400px;
	height: 400px;
	position: absolute;
	left: 350px;
	top: 4350px;
	border-radius: 20px;	
}
#img11
{
	width: 400px;
	height: 400px;
	position: absolute;
	left: 350px;
	top: 4770px;
	border-radius: 20px;
}
#img12
{
	width: 400px;
	height: 400px;
	position: absolute;
	left: 350px;
	top: 5300px;
	border-radius: 20px;	
}
#img13
{
	width: 400px;
	height: 400px;
	position: absolute;
	left: 350px;
	top: 5720px;
	border-radius: 20px;
}
#img14
{
	width: 400px;
	height: 400px;
	position: absolute;
	left: 350px;
	top: 6300px;
	border-radius: 20px;
}
.dropbtn 
{
    background-color: #D8C07C;
    color: #E14040;
    width: 280px;
    padding: 8px;
    font-size: 16px;
    border: none;
}
.dropdown
{
    position: relative;
    display: inline-block;
    left: 100px;
}
.dropdown-content
{
    display: none;
    position: absolute;
    left: 50px;
    color: red;
    background-color: #D8C07C;
    box-shadow: 0px 8px 16px 0px yellow;
    z-index: 1;
}
.dropdown-content a 
{
    background-color: #D8C07C;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover 
{
	background-color: yellow
	color: green;
}
.dropdown:hover .dropdown-content 
{
    display: block;
    color: #E14040;
}
.dropdown:hover .dropbtn
 {
    background-color: yellow;
    color: green;
}

